
/*
  Import the common theme.
*/
@import "./_shared/scss/theme.scss";

/*
  If you need some CSS for any reason you can put it here.
*/
*{
  margin: 0;
  padding: 0;
}
.title img{
  position: absolute;
  left: 400px;
  top: -100px;
  z-index: -1;
}
.title h1{
  font-family: 'Kaushan Script', cursive;
  text-shadow: #FC0 1px 0 10px;
  text-align: center;
  color: #000;
  font-size: 140px;
  width: 750px;
  margin: 0 auto 100px auto;
  background:rgba(0,0,0,0);

}
header h1, header h2{
  background:rgba(0,0,0,0.5);
}

body{
  background: linear-gradient(red, Black) no-repeat;
  background-size: cover;
}
html{
  height: 100%;
}
.content{
  background:rgba(0,0,0,0.5);
  color: #fff;
}
form,form input.form-control, form textarea.form-control, .modal-content{
  color: #fff;
  background: #000;
}

.btn{
  background: #000;
  border-color: red;
}
.btn:hover{
  background-color: red;
}
